.root {

  @apply relative font-cuprum rounded-full bg-milk text-black-075 pl-5 py-[6px];

  .input {
    @apply bg-transparent outline-none min-w-0 w-full;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    &[type=number] {
      -moz-appearance:textfield;
    }
  }

  .asideValue {
    @apply absolute right-[6px] top-[6px] bg-milk z-10;
  }
}

