.root {
  @apply relative font-cuprum rounded-full bg-milk text-black-075 pl-5 py-[6px];
  border: 2px solid black;
}

.root .input::-webkit-outer-spin-button,
.root .input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.root .input[type=number] {
  -moz-appearance: textfield;
}

.root .input {
  @apply bg-transparent outline-none min-w-0 w-full;
}

.root .asideValue {
  @apply absolute right-[6px] top-[6px] bg-milk z-10;
}

.dropdown {
  @apply absolute z-10 left-0 top-[100%] bg-black text-white w-full;
}

.dropdownInputIcon {
  @apply absolute right-[10px] w-[20px] h-[18px] top-[10px] select-none;
}

.dropdownItem {
  @apply p-2 w-full block;
}

.dropdownItem.active {
  @apply bg-cold;
}
