.root {

  @apply relative w-full font-cuprum rounded-full bg-milk text-black-075 pl-5 py-[6px] hover:bg-black hover:bg-gray-200 cursor-pointer select-none;
  border: 2px solid black;
}

.root.active {
  @apply bg-black text-white ;
}

.root .asideValue {
  @apply absolute right-[6px] top-[6px] ;
}

.root .hiddenInput {
  position: absolute;
  clip: rect(0, 0, 0, 0);
}