.root {
  @apply text-[22px];
}

.head {
  @apply w-full py-2.5 px-2 flex items-center cursor-pointer hover:text-cold-dark;
}

.headName {
  @apply ml-2 italic font-semibold text-[20px] mr-4;
}

.headImage {
  @apply w-[24px] h-[21px] transition-all duration-500;
}

.headImage.reversed {
  @apply rotate-180;
}

.submenuItem {
  @apply flex items-center text-[16px] w-full flex py-2.5 px-2 hover:bg-putty;
}

.submenuItem.active {
  @apply text-cold-dark;
}

.submenuImage {
  @apply pr-2 cursor-pointer w-[36px] h-[26px];
}

.submenuName {
  @apply text-left
}