@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Bookman Old Style';
    src: url("./assets/fonts/bookmanoldstyle.ttf") format('truetype');
    font-weight: 400;
}

@font-face {
    font-family: 'Bookman Old Style';
    src: url("./assets/fonts/bookmanoldstyle_italic.ttf") format('truetype');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Cuprum';
    src: url("./assets/fonts/Cuprum.ttf") format('truetype');
    font-weight: 400;
}

@font-face {
    font-family: 'Cuprum';
    src: url("./assets/fonts/Cuprum-Italic.ttf") format('truetype');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Freestyle Script';
    src: url("./assets/fonts/freestylescript_regular.ttf") format('truetype');
    font-weight: 400;
}